<html xmlns:th="http://www.w3.org/1999/xhtml">
    <head><title>Home Page</title>
        <link th:href="@{/css/style.css}" rel="stylesheet" />
        <link rel="stylesheet" type="text/css"
              href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
    <body>
        <div>
            <h1>Hello Code Wizzes!</h1>
            <img src="/images/code-wiz.png" height="50" width="150">
            <p> This is our barebones Java web application project that you will get to fork and build your own awesome projects!!<span th:text="${appName}">Our App</span></p>
            <div id="demo"></div>
            <script src="/javascript/myscript.js"></script>
        </div>
    </body>
</html>